/* здесь используйте глобальные переменные */
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$base-color-text: #444444;
$bg-color-main: #68b738;
$bg-color-main-hover: #5eaa2f;
$bg-color-main-opacity:rgba(104, 183, 56, 0.85);
$bg-color-secondary:#f2f2f2;
