.additional-products {
  padding-top: 25px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;
    padding-bottom: 87px;
  }
}


.additional-products__title {
  font-family: $secondary-font;
  color: #000000;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 36px;
  width: fit-content;
  position: relative;
  background-color: #ffffff;
  box-shadow: -30px 0 0 0 #ffffff, 21px 0 0 0 #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 61%;
    transform: translateY(-50%);
    right: 0;
    width: 100vw;
    height: 2px;
    background-color: $bg-color-main;
    box-shadow: 100vw 0 $bg-color-main;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 64%;
    }
  }


  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding-left: 40px;
    box-shadow: 0 0 0 0 #ffffff, 40px 0 0 0 #ffffff;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    padding-left: 0;
    box-shadow: -30px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;
  }
}

.additional-products__line {
  width: 70px;
  height: 2px;
  background-color: $bg-color-main;

  &--left {
    width: 0;

    @media (min-width: $tablet-width) {
      width: 32px;
    }
  }

  &--right {
    flex-grow: 1;
  }
}

.additional-products__block {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }
}

.additional-products__list {
  @include list-style-none;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    align-items: center;
    padding: 14px 0 17px 0;
  }
}

.additional-products__heading {
  font-family: $secondary-font;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    flex-basis: 56%;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
    margin-bottom: 0;
  }
}

.additional-products__content {
  display: flex;
  justify-content: space-between;
  line-height: 14px;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    flex-basis: 44%;
    font-size: 16px;
    line-height: 20px;
    justify-content: right;
    gap: 49px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 40px;
    justify-content: space-between;
  }
}

.additional-products__button {
  @media (min-width: $tablet-width) {
    flex-basis: 100%;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 244px;
  }
}
