.button {
  font-family: $secondary-font;
  color: #FFF;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 14px 10px;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  &--main {
    background-color: $bg-color-green;
  }

  &--see-more {
    color: $base-color-text;
    background: #F2F2F2;
    padding: 10px 10px;
  }

  &--info {
    color: #000;
    font-size: 16px;
    line-height: 16px;
    padding: 0;
  }
}