.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border-bottom: 1px solid #ebebeb;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    border-bottom: none;
    padding: 29px 37px 40px;
    padding-top: 157px;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    padding-top: 150px;
  }
}

.card--card-more {
  justify-content: center;
  background: none;
  padding-top: 79px;

  @media (min-width: $tablet-width) {
    padding-top: 159px;
    border: 1px solid #d3d3d3;
  }

  @media (min-width: $desktop-width) {
    padding-top: 148px;
  }

  .card__title {
    margin-bottom: 9px;
    position: relative;
    max-width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: -53px;
      width: 30px;
      height: 30px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../../images/icons/stack.svg#icon-plus");
    }

    @media (min-width: $tablet-width) {
      &::before {
        top: -111px;
        width: 60px;
        height: 60px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        top: -100px;
      }
    }

    @media (min-width: $tablet-width) {
      max-width: 71%;
      margin-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      max-width: 80%;
      margin-bottom: 26px;
    }
  }

  .card__description {
    font-size: 12px;
    margin-bottom: 1px;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 18px;
      max-width: 217px;
      margin: 0 auto;
      padding-bottom: 10px;
    }
  }
}

.card__image {
  flex: 0 0 50%;

  img {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    flex: 0;
    display: flex;
    min-height: 206px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -71px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.card__content {
  flex: 0 0 50%;

  @media (min-width: $tablet-width) {
    flex: 0;
    margin-bottom: 31px;
  }
}

.card__title {
  color: #222222;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 17px;
  max-width: 99px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 20px;
    max-width: 150px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.card__list {
  margin: 0;
}

.card__description {
  margin: 0;
  text-align: right;
}

.card__item {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  @media (min-width: $desktop-width) {
    &:last-child {
      padding-bottom: 8px;
    }
  }
}

.card__button {
  width: 100%;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}
