.catalog__title {
  @include wrapper-padding;

  color: #000000;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    @include wrapper-padding(30px,30px);
    margin-bottom: 136px;
  }

  @media (min-width: $desktop-width) {
    @include wrapper-padding(110px,110px);
    width: 1220px;
    margin: 0 auto 136px;
  }
}

.catalog__list {
  @include list-style-none;
  display: block;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    @include wrapper-padding(30px,30px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 134px;
    column-gap: 60px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    @include wrapper-padding(110px,110px);
    width: 1220px;
    margin: 0 auto;

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.catalog__item {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

