.choose-list {
  padding-top: 22px;

  &--radio {
    @media (min-width: $tablet-width) {
      border: 1px solid #e7e7e7;
      padding: 23px 27px 27px;
      margin-top: 72px;
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      padding: 25px 28px 25px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.choose-list--checkbox {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 10px;

    .choose-list__item {
      flex: 0 0 49%;
    }

    .choose-list__item:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    .choose-list__item {
      flex: 0 0 24%;
    }
  }
}

.choose-list__item:not(:last-child) {
  margin-bottom: 27px;

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}

.choose-list__label {
  padding-left: 45px;
  position: relative;
  display: flex;
}

.choose-list__custom {
  position: absolute;
  left: 0;
  top: -4px;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;

  &--radio {
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    top: 0;
  }
}

.choose-list__input[type="radio"]:checked + .choose-list__custom--radio {
  background-image: url("../../images/icons/stack.svg#radiobutton");
  background-size: 13px;
}

.choose-list__input[type="checkbox"]:checked + .choose-list__custom--checkbox {
  background-image: url("../../images/icons/stack.svg#icon-checkbox");
  background-size: 20px;
}

.choose-list__input:focus + .choose-list__custom {
  border: 1px solid #000000;
}
