.form-list {
  position: relative;

  &--contact-info {
    @media (min-width: $tablet-width) {
      padding-bottom: 65px;
    }
  }
}

.form-list__wrapper {
  @include list-style-none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .form-list__item:not(:last-child) {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.form-list__item {
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    flex: 0 0 50%;
  }
}

.form-list__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-list--checkbox {
  padding-top: 34px;
  padding-bottom: 34px;
}

.form-list__label {
  margin-right: 13px;
  flex: 0 0 auto;
  max-width: 120px;
}

.form-list__input::-webkit-outer-spin-button,
.form-list__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.form-list__input {
  color: #444444;
  font-family: $secondary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 15px 13px;
  padding-right: 40px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 20px;
  appearance: textfield;

  &::placeholder {
    color: #444444;
    font-family: $secondary-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    padding-right: 40px;
  }

  &--mail {
    background-image: url("../../images/icons/stack.svg#icon-mail");
  }

  &--tel {
    background-image: url("../../images/icons/stack.svg#icon-tel");
  }

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:not(:focus):not(:placeholder-shown):invalid {
    outline: 1px solid #ff8282;
  }
}

