.how-works__title {
  color: #000000;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.how-works__list {
  @include list-style-none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 134px;
  }
}

.how-works__item:not(:last-child) {
  margin-bottom: 24px;
}

.how-works__item {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    min-width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: $bg-color-main;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
  }

  &--functional-nutrition {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-how-work1");
    }
  }

  &--powder {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-how-work2");
    }
  }

  &--replace-doses {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-how-work3");
    }
  }

  &--changes-better {
    &::before {
      background-image: url("../../images/icons/stack.svg#icon-how-work4");
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    min-height: 280px;

    &::before {
      margin-bottom: 31px;
    }

    &::after {
      position: absolute;
      top: -37px;
      right: 14px;
      color: #f2f2f2;
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      line-height: 280px;
      z-index: -1;
    }

    &:nth-child(1) {
      &::after {
        content: "1";
      }
    }

    &:nth-child(2) {
      &::after {
        content: "2";
      }
    }

    &:nth-child(3) {
      &::after {
        content: "3";
      }
    }

    &:nth-child(4) {
      &::after {
        content: "4";
      }
    }
  }
}

.how-works__description {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
