.living-example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding-bottom: 101px;
    background-image: linear-gradient(#ffffff 606px, #ffffff 606px, #eaeaea 606px);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 75px;
    background-image: linear-gradient(#ffffff 181px, #ffffff 181px, #eaeaea 181px);
  }
}

.living-example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 224px 1fr;
    grid-template-rows: repeat(3, min-content);
  }
}

.living-example__title {
  color: #000000;
  font-family: $secondary-font;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 45px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
    padding-top: 0;
  }
}

.living-example__description {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    min-height: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin: 0;
    margin-bottom: 69px;
    grid-column: 1/2;
  }
}

.living-example__content {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 99px;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 366px 1fr;
    row-gap: 55px;
  }
}

.living-example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  @media (min-width: $tablet-width) {
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    align-self: start;
    margin: 0;
  }
}

.living-example__slider {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-top: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
  }
}

.living-example__item {
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  min-height: 56px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
}

.living-example__number {
  color: #000000;
  text-align: center;
  font-family: $secondary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.living-example__info {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  position: absolute;
  background: #eaeaea;
  top: 57px;
  left: 50%;
  transform: translateX(-50%);
  width: 83px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background: #eaeaea;
  }
}

.living-example__expenses {
  color: #000000;
  text-align: center;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    justify-self: end;
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    align-self: start;
    justify-self: start;
    flex-direction: row;
    gap: 63px;
    margin: 0;
  }
}
