.logo-title {
  &:hover,
  :focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-title__image {
  display: block;

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}
