.main-footer {
  background-color: $bg-color-secondary;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 72px;
  }
}

.main-footer__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
  }
}

.main-footer__item {
  flex-basis: 100%;
  padding-top: 20px;
  padding-bottom: 19px;

  .logo-title {
    display: block;
    max-width: 128px;
    margin: 0 auto;


    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  .social-list {
    margin: 0 auto;
  }

  .logo-htmlacademy {
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      margin: 0 0 0 auto;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-footer__item:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
