.main-form {
  padding-top: 27px;
}

.main-form__heading {
  color: #000000;
  font-family: $secondary-font;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 37px;
}

.main-form__description {
  color: #000000;
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 39px;
  text-transform: uppercase;
}

