.main-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main-header__button-toggle {
  justify-self: end;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url("../../images/icons/burger.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.main-header__navigation {
  grid-column: 1/-1;
  display: none;
}
