.main-footer {
  background-color: $bg-color-secondary;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-footer__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-footer__item {
  flex-basis: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  .logo-title {
    display: block;
    max-width: 128px;
    margin: 0 auto;
  }

  .social-list,
  .logo-htmlacademy {
    margin: 0 auto;
  }
}

.main-footer__item:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}
