.main-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: min-content 1fr;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: min-content 1fr 550px;
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
    padding-top: 55px;
  }
}

.main-header__content {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    grid-column: 1;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    align-self: start;
  }
}

.main-header__button-toggle {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url("../../images/icons/stack.svg#burger");
  background-position: center center;
  background-repeat: no-repeat;

  &--open {
    background-image: url("../../images/icons/stack.svg#burger-close");
  }

  &--no-js {
    opacity: 0;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__logo {
  &:hover,
  :focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }
}

.main-header__navigation {
  grid-column: 1/-1;
  display: none;
  position: absolute;
  width: 100%;
  top: 66px;
  z-index: 2;
  background-color: #ffffff;

  &--open {
    display: block;
  }

  &--no-js {
    display: block;
    position: relative;
    top: 0;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    justify-self: end;
    display: flex;
    position: relative;
    width: revert;
    top: revert;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 550px;
  }
}
