.main-footer__social-list {
  @include list-style-none;
  display: flex;
}

.main-footer__social-link {
  display: flex;
  width: 30px;
  height: 30px;

  &--vk {
    mask-image: url("../../images/icons/stack.svg#icon-vk");
    background-color: #666666;
  }

  &--youtube {
    mask-image: url("../../images/icons/stack.svg#icon-youtube");
    background-color: #666666;
  }

  &--telegram {
    mask-image: url("../../images/icons/stack.svg#icon-telegram");
    background-color: #666666;
  }
}
