/* stylelint-disable string-quotes */
.slider-cat {
  position: relative;
  height: 256px;
  width: 280px;
  margin: 0 auto;
}

.slider-cat__input {
  position: absolute;
  appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  margin: 0;
  z-index: 1;
}

.slider-cat__item {
  position: absolute;
}

.slider-cat__image {
  display: block;
}

.slider-cat__item--fat-cat {
  width: 50%;
  overflow: hidden;
  background-color: #eaeaea;
}

.slider-cat__button {
  pointer-events: none;
  position: absolute;
  width: 100%;
  min-height: 100%;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-image: url("../../images/icons/stack.svg#curtain");
}
