.slider-cat {
  position: relative;
  height: 256px;
  width: 280px;
  z-index: 1;


  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/-1;
    grid-row: 1/-1;
  }
}

.slider-cat__input {
  position: absolute;
  appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  margin: 0;
  z-index: 1;
}

.slider-cat__item {
  position: absolute;


  &--fat-cat {
    width: 50%;
    overflow: hidden;
    background-color: #eaeaea;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(#ffffff 151px, #ffffff 151px, #eaeaea 151px);
    }
  }
}

.slider-cat__image {
  display: block;
}

.slider-cat__button {
  pointer-events: none;
  position: absolute;
  width: 40px;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    background-color: #666666;
  }
}

.slider-cat__button-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.slider-cat:hover {
  .slider-cat__button::after {
    background-color: $bg-color-main;
  }

  .slider-cat__button-image {
    path {
      fill: $bg-color-main;
    }

    rect {
      stroke: $bg-color-main;
    }
  }
}

.slider-cat:active {
  .slider-cat__button::after {
    background-color: $bg-color-main-opacity;
  }

  .slider-cat__button-image {
    path {
      fill: $bg-color-main-opacity;
    }

    rect {
      stroke: $bg-color-main-opacity;
    }
  }
}
